@import 'nhsuk-frontend/packages/core/settings/_all';
@import 'nhsuk-frontend/packages/core/tools/_all';

$button-shadow-size: 4px !default;
$nhsuk-login-button-color: $color_nhsuk-blue;
$nhsuk-login-button-active-color: #1e569b;
$nhsuk-login-button-shadow-color: #003087;
$nhsuk-login-button-reverse-color: $color_nhsuk-white;
$nhsuk-login-button-reverse-active-color: darken($color_nhsuk-white, 5%);

.nhsuk-button--login {
  background-color: $nhsuk-login-button-color;
  box-shadow: 0 $button-shadow-size 0 $nhsuk-login-button-shadow-color;
  display: flex;
  align-items: center;
  padding: 14px 18px;

  .nhsuk-logo {
    height: 27px;
    width: auto;
    margin-right: 17px;

    .nhsuk-logo__background {
      fill: $color_nhsuk-white;
    }

    .nhsuk-logo__text {
      fill: $color_nhsuk-blue;
    }
  }

  &:active,
  &:hover {
    background: $nhsuk-login-button-active-color;
    color: $color_nhsuk-white;
  }

  &:focus {
    background: $nhsuk-focus-color;
    color: $nhsuk-login-button-active-color;
    box-shadow: 0 $button-shadow-size 0 $nhsuk-login-button-shadow-color;
  }

  &.nhsuk-button--disabled,
  &:disabled,
  &[disabled] {
    background-color: $nhsuk-login-button-color;
  }

  &.nhsuk-button--reverse {
    background-color: $nhsuk-login-button-reverse-color;
    color: $nhsuk-login-button-color;
    box-shadow: 0 $button-shadow-size 0 $nhsuk-login-button-shadow-color;

    .nhsuk-logo__background {
      fill: $color_nhsuk-blue;
    }

    .nhsuk-logo__text {
      fill: $color_nhsuk-white;
    }

    &:active,
    &:hover {
      background-color: $nhsuk-login-button-reverse-active-color;
    }

    &:active {
      box-shadow: none;
    }
  }
}
