name: Publish

on:
  push:
    branches:
      - main
      - v3

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
      pull-requests: write
      id-token: write
    outputs:
      published: ${{ steps.changesets.outputs.published }}
    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        with:
          version: 10
          run_install: false

      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'pnpm'
          cache-dependency-path: './pnpm-lock.yaml'

      - run: pnpm install --frozen-lockfile

      - run: pnpm lint

      - run: pnpm build

      - run: pnpm test

      - uses: changesets/action@v1
        id: changesets
        with:
          title: 'chore: version packages'
          commit: 'chore: version packages'
          publish: pnpm release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

  publish_storybook:
    runs-on: ubuntu-latest
    needs: publish
    if: ${{ needs.publish.outputs.published == 'true' && github.ref == 'refs/heads/main' }}
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: pnpm/action-setup@v4
        with:
          version: 10
          run_install: false

      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'pnpm'
          cache-dependency-path: './pnpm-lock.yaml'

      - run: pnpm install --frozen-lockfile

      - run: |
          pnpm -F ./packages/nhsuk-frontend-react sb:build -o ./out-sb
          touch ./packages/nhsuk-frontend-react/out-sb/.nojekyll

      - uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: ./packages/nhsuk-frontend-react/out-sb
